button{
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    border: 3px solid rgb(210, 130, 130);
    border-radius: 8px;
}
#increase, #decrease{
    background-color: white;
    font-size: 3rem;
}
h1{
    color: red;
    font-size: 5rem;
    border: 5px solid rgb(241, 179, 179);
    padding: 10px;
    margin-left:13rem ;
    margin-right:13rem ;
    border-radius: 16rem;
    background-color: rgb(185, 238, 238);

}